div {
/*  border: 1px solid red;*/
}

* {
  padding: 0;
  margin: 0;
}

:root {
  --green-blue: #099197;
}

body,
html {
  height: 100%;
}

body {
  display: grid;
  grid-template-columns: 1fr 3fr;

  background-color: var(--green-blue);
}

#containerLeft {
  display: flex;
  flex-direction: column;

  height: 100%;
}

.entrySection {
  flex: 1;

  display: flex;
}

.entrySection button {
  flex-shrink: 0;

  background-color: transparent;
  border: none;
  height: 100%;
  width: 50px;
}

.entrySection button:hover {
  background-color: oklch(from var(--green-blue) none none none / 0.2);
  cursor: pointer;
}

#formSection {
  display: none;
  gap: 10px;

  width: 100%;
  padding: 10px 10px 10px 10px;
}

#bookForm {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

fieldset {
  display: flex;
  flex-direction: column;

  border: none;
}

input {
  height: 2lh;
}

#radio {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

#radio label {
  display: flex;
  align-items: center;
  gap: 5px;
}

#submitButton {
  height: 2lh;
  width: 100%;
}

#containerRight {
  padding: 0 10px 0 10px;
}

table {
  width: 100%;
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}

th:first-child,
th:nth-child(4),
th:nth-child(5),
th:nth-child(6) {
  width: fit-content;
}

th {
  width: 25%;
}

tbody tr:nth-child(odd) {
  background-color: grey;
}

tr {
  height: 2lh;
}